#map {
	margin: 1vh;
    padding: 0;
	width: 100%;
    height: 500px;
}

.text-white {
    color: white;
}

.form-group {
    margin-right: 10px;
}

.get-position-link {
    font-size: 0.8em;
}

.right-panel {
    float: left;
    text-align: left;
    width: 100%;
    height: auto;
}

.my-text-left{
    text-align: left !important;
}

.aditional-padding{
    padding-top: 10vh;
}