{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AndaraiHost - Seu anfitri&atilde;o para te ensinar a andar a&iacute;!</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'safedirections/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">

    <!-- Custom CSS -->
    <link href="{% static 'safedirections/css/agency.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'safedirections/css/style.css' %}">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Andara&iacute;Host</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Servi&ccedil;os</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Navegue</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Sobre</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Quem somos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To AndaraiH!</div>
                <div class="intro-heading">Seu anfitri&atilde;o para te ensinar a andar a&iacute;!</div>
                <a href="#services" class="page-scroll btn btn-xl">Conhe&ccedil;a a ferramenta</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servi&ccedil;os</h2>
                    <h3 class="section-subheading text-muted">Ande pelo Rio de Janeiro sem se perder, reporte &aacute;reas perigosas, mantenha a seguran&ccedil;a. Sempre.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <h4 class="service-heading">Fique de olho</h4>
                    <p class="text-muted">Marque locais perigosos no mapa. D&ecirc; notas maiores para locais mais perigosos.</p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-road"></span>
                    <h4 class="service-heading">Planeje sua viagem</h4>
                    <p class="text-muted">Com os dados fornecidos pela comunidade, evite caminhos considerados muito perigosos. Viaje mais tranquilo e com maior seguran&ccedil;a, mesmo em locais que ainda n&atilde;o conhece.</p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-stats"></span>
                    <h4 class="service-heading">Consulte</h4>
                    <p class="text-muted">Saiba o qu&atilde;o perigoso um local estar.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Navegue</h2>
                    <h3 class="section-subheading text-white">Use nossa aplica&ccedil;&atilde;o! Planeje sua viagem e d&ecirc; sua contribui&ccedil;&atilde;o para comunidade. Vote nos pontos de perigo j&aacute; criados ou crie novos pontos.</h3>
                </div>
            </div>
            <div class="row text-center">
                <h2 class="text-white">Calculate your route</h2>
                <form class="form-inline" id="calculate-route" name="calculate-route" action="#" method="get">
                    <div class="form-group">
                        <label for="from" class="text-white">From:</label>
                        <input class="form-control" type="text" id="from" name="from" required="required" placeholder="An address" size="30" />
                        <a id="from-link" class="get-position-link" href="#">Get my position</a>
                    </div>

                    <div class="form-group">
                        <label for="to" class="text-white">To:</label>
                        <input class="form-control" type="text" id="to" name="to" required="required" placeholder="Another address" size="30" />
                        <a id="to-link" class="get-position-link" href="#">Get my position</a>
                    </div>

                    <button type="submit" class="btn btn-default">Send</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </form>

                <div class="row">
                    <div class="col-md-9">
                        <div id="map"></div>
                    </div>
                    <div class="col-md-3 text-left aditional-padding">
                        <h4 class="text-white text-center">Select a route</h4>
                        <select class="form-control right-panel" id="waypoints" onchange="route_selector(this.value)">
                            <!-- JQuery will fill it with the resulting routes -->
                        </select>
                    </div>
                    <div class="col-md-12">
                        <p id="error"></p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'safedirections/img/about/1.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>11/12/2015 - 19:00</h4>
                                    <h4 class="subheading">Come&ccedil;amos a batalha com um combatente ao ch&atilde;o... ch&atilde;o, ch&atilde;o, CH&Atilde;O!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'safedirections/img/about/2.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>11/12/2015 - 20:20</h4>
                                    <h4 class="subheading">Esta&ccedil;&atilde;o de <strike>integra&ccedil;&atilde;o com o metr&ocirc; linha 2</strike> desenvolvimento</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Kinfolk ennui small batch, before they sold out fixie pinterest sustainable four loko. Keytar irony quinoa ugh. Everyday carry authentic hoodie seitan, bitters blue bottle umami readymade cold-pressed pabst freegan tofu PBR&B chartreuse vegan.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'safedirections/img/about/3.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>12/11/2015 - 01:00</h4>
                                    <h4 class="subheading">Caf&eacute;, por favor. Mexido, n&atilde;o batido.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bulbasaur Ivysaur Venusaur Charmander Charmeleon Charizard Squirtle Wartortle Blastoise Caterpie Metapod Butterfree Weedle Kakuna Beedrill Pidgey Pidgeotto Pidgeot Rattata Raticate</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'safedirections/img/about/4.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>12/11/2015 - 04:00</h4>
                                    <h4 class="subheading">"Time is money! Ooohh yeah!" - SAM, Super.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4 style="margin-top: 25px;">E muito
                                    <br>mais ainda
                                    <br>est&aacute; por
                                    <br>vir!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Desenvolvedores</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'safedirections/img/team/1.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Aluizio dos Santos de Lima Filho</h4>
                        <p class="text-muted">Django Boy</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'safedirections/img/team/2.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Hugo de Melo Dantas</h4>
                        <p class="text-muted">Tinder Boy</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'safedirections/img/team/3.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Thales Nathan Caic&oacute; Matias da Silva</h4>
                        <p class="text-muted">Besteirol da equipe</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">
                        Equipe Wonkatron em seus habitats naturais.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.b2wdigital.com/">
                        <img src="{% static 'safedirections/img/logos/B2W.png' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.les.inf.puc-rio.br/wiki/index.php/P%C3%A1gina_principal">
                        <img src="{% static 'safedirections/img/logos/les.png' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.impeto.com.br">
                        <img src="{% static 'safedirections/img/logos/logo-impeto.jpg' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.stone.com.br/">
                        <img src="{% static 'safedirections/img/logos/stone.png' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; AndaraiH 2015</span>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a class="page-scroll" href="#page-top">Voltar ao topo</a></li>
                        <li><a href="https://developers.google.com/maps/terms">Termos de Uso</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- edit danger zone -->
    <div class="modal fade" id="dangerModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Danger Level</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Level</label>
                        <select id="dangerLevel" class="form-control">
                            <option value="0">Safe</option>
                            <option value="1">Caution</option>
                            <option value="2">Warning</option>
                            <option value="3">Dangerous</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="save()" class="btn btn-default" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /edit danger zone -->

    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- jQuery -->
    <script src="{% static 'safedirections/js/jquery-1.11.3.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'safedirections/bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'safedirections/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'safedirections/js/classie.js' %}"></script>
    <script src="{% static 'safedirections/js/cbpAnimatedHeader.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'safedirections/js/math.min.js' %}"></script>
    <script src="{% static 'safedirections/js/straightCircle.js' %}"></script>
    <script src="{% static 'safedirections/js/agency.js' %}"></script>
    <script src="{% static 'safedirections/js/render_map.js' %}"></script>
    <script src="{% static 'safedirections/js/calculate_weight.js' %}"></script>
    <script src="{% static 'safedirections/js/geolocating.js' %}"></script>
    <script src="{% static 'safedirections/js/directions_routing.js' %}"></script>
    <script src="{% static 'safedirections/js/route_selector.js' %}"></script>
    <script src="{% static 'safedirections/js/waypts_setter.js' %}"></script>
    <script src="{% static 'safedirections/js/main_script.js' %}"></script>
    <script src="{% static 'safedirections/js/CRUD.js' %}"></script>
</body>
</html>